<h1 mat-dialog-title>
  Row Action :: <strong>{{ action }}</strong>
</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{ action }} Name" matInput />
  </mat-form-field>
  <ng-template #elseTemplate>
    Do you want to delete <b>{{ localData.name }}</b
    >?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" mat-raised-button color="warn">
    {{ action }}
  </button>
  <button mat-button (click)="closeDialog()" mat-raised-button>
    Cancel
  </button>
</div>
